RewriteEngine on
RewriteCond %{HTTP_HOST} ^ufprcatei-novo\.16mb\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ufprcatei-novo\.16mb\.com$
RewriteRule ^mail$ "https\:\/\/mail\.zoho\.com\/portal\/ufprcatei" [R=301,L]

